.wrapper{
    display: flex;
    width: 100%;
    overflow-x: scroll;
    margin: 15px;
    padding: 25px 0;
    
}
.wrapper::-webkit-scrollbar{
   width: 0px;
}

.wrapper .item{
    flex-shrink: 0;
    min-width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-left: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}