.userMain{
    color: white;
    
}
/*.userHead{
  
}
.userMail{
   
} */
.imgProfileContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}
.profileImage{
    border-radius: 50%;
}
.userName{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Goldman', cursive;
    font-size: 1.2rem;
}
.userMail{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5%;
}
.userMail span{
    font-size: 4rem;
    cursor: pointer;
}