.userMain{
    color: white;
    
}
.userHead{
    background: linear-gradient(0deg, rgba(105, 1, 105, 0.479) 0%, rgb(114, 4, 98) 35%, rgba(218, 53, 193, 0.795) 100%);
}
.userMail{
    background: linear-gradient(0deg, rgba(68, 0, 68,0.3) 0%, rgba(68, 0, 68,0.3) 35%, rgba(105, 1, 105, 0.479) 100%);
}
.imgProfileContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}
.profileImage{
    border-radius: 50%;
}
.userName{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Goldman', cursive;
    font-size: 1.2rem;
}
.userMail{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5%;
}
.userMail span{
    font-size: 4rem;
}