.--RegisterCard{
    width: 100%;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}
.--RegisterCardAll h2{
    text-align: center;
    color: rgb(141, 129, 129);
    text-shadow: 0px 0px 5px rgb(70, 10, 139);
}

.--RegisterCardAll{
    width: 90%;
    background-color: rgba(86, 9, 175, 0.527);
    border-radius: 10px;    
    box-shadow: 0px 0px 10px rgb(137, 76, 206);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

.--RegisterCard-form{
    width: 75%;
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 1.1em;
}
.--RegisterCard-form-input{
    width: 100%;
    height: 40px;
    margin-bottom: 0px;
    font-size: 12px;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 0 0 0 5px;
}
.--RegisterCard-form-input:active{
    background-color: white;
}
.--RegisterCard-form-input:valid{
    background-color: rgb(19, 18, 18);
    border: 2px solid rgb(70, 10, 139);
}
.--RegisterCard-form-input:invalid{
    background-color: rgb(19, 18, 18);
    border: 2px solid rgb(136, 18, 128);
}
.--RegisterCard-form-input::placeholder{
    text-align: center;
    color: white;
}

.--RegisterCard-form button{
    width: 60%;
    height: 45px;
    font-size: 1.3rem;
    margin: 5px 1px 5px ;
    padding: 0px 12px;
    background: linear-gradient(45deg, rgb(71, 8, 87), rgb(136, 18, 128));
    border: 1px solid rgb(81, 7, 141);
    border-radius: 5px;
    margin-top:20px;
    margin-bottom:5px;
    cursor:pointer;
    color: white;
    outline: none;
    font-family: "Goldman";
}
.--RegisterCard-form button:hover{
    background: linear-gradient(45deg, rgb(45, 9, 55), rgb(87, 20, 82));
}
.danger {
    color: #d4c;
    font-size: 1em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.foots{
    width: 100%;
    text-align: center;
    margin: 10px 0px ;
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.foots span{
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: rgb(141, 129, 129);
    text-shadow: 0px 0px 5px rgb(70, 10, 139);
}
.signups{
    width:30%;  
    text-decoration: none;
    color:white;
    border: 2px solid rgb(70, 10, 139);
    border-radius: 5px;
    padding: 3px;
    margin-top:8px;
    padding-bottom: 8px;

}