.--Results{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.--Results h1{
    color: white;
    font-family: 'Goldman', cursive;
}
.--Results-items{
    display: flex;
    flex-direction: column;
}
.--Results-items-user{
    display: flex;
    flex-wrap:wrap;

}