.--CatalogCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 11em;
    height: 14em;
    padding: 1em;
    border: 2px solid rgb(80, 14, 100);
    border-radius: 1em;
    margin-left: 0.7em;
    margin-right: 0.7em;
    margin-bottom: 0.9em;
    background-color:  rgba(66, 11, 92, 0.6);
}
.--CatalogCard-image img{
    width:  100%;
    border-radius: 1em;
}
.--CatalogCard-info{
    display: flex;
    flex-direction: column;
    max-width: 60%;
}
.--CatalogCard-info p{
    margin: 0px;
}
.--CatalogCard-info-song{
    color: rgb(255, 255, 255);
    font-size: 1rem;
}
.--CatalogCard-info-autor{
    color: rgb(255, 255, 255);
    font-size: 0.7rem;
}
.--CatalogCard-link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
}
.--CatalogCard-link:hover{
    text-decoration: none;
    color: rgb(138, 3, 126);
}
.--CatalogCard-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px;
}
.--CatalogCard-details-shopIcon{
    color: white;
    font-size: 1.6rem;
}
.--CatalogCard-details-shopIcon:hover{
    cursor: pointer;
    color: rgb(255, 0, 234);
    
}
.--CatalogCard-details-price{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.--CatalogCard-details-price p{
    color: white;
    font-size: 1rem;

}