.--CatalogCard{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 270px;
    padding: 5px;
}
.--CatalogCard-image img{
    width: 200px;
    height: 200px;
    border-radius: 4px;
}
.--CatalogCard-info{
    display: flex;
    flex-direction: column;
    max-width: 65%;
}
.--CatalogCard-info p{
    margin: 0px;
}
.--CatalogCard-info-song{
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
}
.--CatalogCard-info-autor{
    color: rgb(126, 126, 126);
    font-size: 0.7rem;
}
.--CatalogCard-link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
}
.--CatalogCard-link:hover{
    text-decoration: none;
    color: rgb(138, 3, 126);
    font-size: 1.2rem;
}
.--CatalogCard-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px;
}
.--CatalogCard-details-shopIcon{
    color: white;
    margin-top: 5px;
}
.--CatalogCard-details-shopIcon:hover{
    cursor: pointer;
    color: rgb(255, 0, 234);
    
}
.--CatalogCard-details-price{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.--CatalogCard-details-price p{
    color: white;
    font-size: 0.8rem;
    margin-right: 5px;

}