#ListA{
    width: 100%;
    position: relative;
    top: 270px;
    background-color: transparent;
    height: 300px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}