
.Container {
    width: 1920px;
    height: 1080px;
    background-color: black;
    background-size: cover;
    overflow-x: auto;
}

#title1{
    background-color: transparent;
    color: white;
    font-family: "Gabriola";
    font-size: 50px;
    font-style: italic;
    font-weight: 400;
    height: auto;
    left: 175px;
    letter-spacing: 0.00px;
    line-height: 50px;
    position: absolute;
    text-align: left;
    top: 1250px;
    width: 672px;
}

#title2{
    background-color: transparent;
    color: white;
    font-family: "Gabriola";
    font-size: 50px;
    font-style: italic;
    font-weight: 400;
    height: auto;
    left: 175px;
    letter-spacing: 0.00px;
    line-height: 50px;
    position: absolute;
    text-align: left;
    top: 1650px;
    width: 672px;
}

/* para 980px o menos */
@media screen and (max-width:980px) {
    .Container {
        width: 980px;
        height: 650px;

    }
}

/* para 700px o menos */
@media screen and (max-width:700px) {
    .Container {
        width: 700px;
        height: 450px;

    }

}

/* para 480px o menos */
@media screen and (max-width:480px) {
    .Container {
        width: 480px;
        height: 260px;

    }
    #title1{
    display: none;
    }
    
    #title2{
    display: none;
    }
}
