.FloatingCardAudio {
    background-color: white;
    height: 80px;
    right: 0px;
    position: fixed;
    top: 200px;
    width: 100px;
    border: none;
    display: flex;
    align-self: flex-end;
    cursor: pointer;
}

    .FloatingCardAudio:hover {
        width: 350px;
        height: 80px;
    }

#backgroundPlay{
    width: 80px;
    height: 85px;
    background-image: url("https://direct.rhapsody.com/imageserver/images/alb.384474096/500x500.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    align-self: center;
    margin-left: 5px;
    text-align: center;

}

#buttonPlay{
    width: 60px;
    height: 60px;
    margin-top: 15px;
    
}

