<html >

<head>
    <title>top oferts</title>
    <style type="text/css" rel="stylesheet" media="all">
        .card {
            display: flex;
            max-width: fit-content;
            max-height: fit-content;
            border:  1px solid rgb(0, 0, 0);

            background-color: gray;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: white;
        }

        .photo img {
            padding: 5px;
            height: 100px;
            border-radius: 6px;
        }

        .data {
            padding: 13px;
        }
        #danger{
            padding: 16px;
            color:rgb(145, 0, 0);

        }
        .button-code {
            padding: 15px;

        }

        .button-code button {
            background-color: #1b29ec;
            /* Green */
            border: none;
            color: white;
            padding: 5px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
        .button-code button:hover {
            background-color: #3844e9;

        }
        .photo{
            margin:0px;
            padding: 0px;
        }

        .epigraph {
            text-align: center;
            padding: 9px;
        }
    </style>
   
</head>

<body>
    <div class="card">
        <div class="photo">
            <img src="cid:canta">
            <div class='epigraph'>Save 20%</div>
        </div>
        <div class='info'>
            <div class='data'>20% off on this artist</div>
            <div class='button-code'>
                <button >Discount code:</button>
                <span >24343kj4k34</span>
            </div>
            <div id='danger'>expire in 7 days</div>
        </div>
    </div>
</body>

</html>