.--profileCard-user{
    display: flex;
    flex-direction: column;
    width: 275px;
    align-items: center;
    padding: 20px;
    margin: 20px;
    padding-right: 25px;
    background-color: rgb(34, 34, 34);
    border-radius: 10px;
}
.--profileCard-user-img img{
    height: 200px;
    border-radius: 100px;
}
.--profileCard-user-info{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.--profileCard-user-info-name{
    font-size: 1.5rem;
}
.--profileCard-user-info p{
    margin: 5px;
    color: white;
}
.--profileCard-user-butons button{
    margin: 5px;
    padding: 5px 10px;
    background: linear-gradient(45deg, rgb(234, 50, 111), rgb(145, 27, 137));
    border: 1px solid black;
    border-radius: 5px;
    cursor:pointer;
    color: white;
    font-size: 1em;
    outline: none;
}
.--profileCard-user-butons button:hover{
    background: linear-gradient(225deg, rgb(234, 50, 111), rgb(145, 27, 137));
}
.--profileCard-user-butons button:active{
    background: linear-gradient(45deg, rgba(234, 50, 111, 0.5), rgba(145, 27, 137, 0.5));
}