.--OrderCard{
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 20px;
    justify-content: space-between;
    background: linear-gradient(18deg, rgb(34, 34, 34), rgb(20, 20, 20));
    border-radius: 10px;
}
.total{text-align: right;}
.--OrderCard-data{
    display: flex;
    flex-direction: column;
}
.--OrderCard-data span{
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Oxanium', cursive;
    font-size: 1.5rem;
    margin-right: 25px;
}
.--OrderCard-detail-btn button{
    margin: 15px;
    padding: 5px 10px;
    background: linear-gradient(45deg, rgb(234, 50, 111), rgb(145, 27, 137));
    border: 1px solid black;
    border-radius: 5px;
    cursor:pointer;
    color: white;
    font-size: 1.5rem;
    outline: none;
}
.--OrderCard-detail-btn button:hover{
    background: linear-gradient(225deg, rgb(234, 50, 111), rgb(145, 27, 137));
}
.--OrderCard-detail-btn button:active{
    background: linear-gradient(45deg, rgba(234, 50, 111, 0.5), rgba(145, 27, 137, 0.5));
}