.HomeBg {
    display:flex;
    width: 98%;
    height: 1080px;
    background-image: url("https://images-ext-1.discordapp.net/external/-krdtiQS_1A80Xqk7TBZBYYW4NR65ZEXt5rNEXXf0Uc/https/mir-s3-cdn-cf.behance.net/project_modules/1400/9bc27292880429.5e569ff84e4d0.gif?width=400&height=225");
    background-position: 0 100%;
    background-size: cover;
    overflow-x: auto;
}

.SearchBarMiddle{
    width: 60%;     
    position: absolute;
    left:0;
    right:0;
    margin:auto;
    top: 40%;
    height: 75px;
}

.SearchBarMiddle input{
    background-color: rgba(0,0,0,0.840);
    border-radius: 30px;
    width:100%;
    border: none;    
    text-align:center;
    font-family: Gabriola;
    font-size: 2em;
}
.ContainerImg{
    width: 40px;
    position: absolute;
    top: 8px;
    right: 18px;
    height: 60px;
}
.ContainerImg img{
    width: 100%;
    left: 0;
    cursor: pointer;
}

/* para 980px o menos */
@media screen and (max-width:980px) {
.HomeBg {
    width: 980px;
    height: 650px;
    background-image: url("https://cdnb.artstation.com/p/assets/images/images/023/898/069/original/aaron-truehitt-blazercitynew-color-animated2.gif?1580704655");
    background-position: 0 100%;
    background-size: cover;
    overflow-x: auto;
}

}

/* para 700px o menos */
@media screen and (max-width:700px) {
    .HomeBg {
        width: 700px;
        height: 450px;
        background-image: url("https://cdnb.artstation.com/p/assets/images/images/023/898/069/original/aaron-truehitt-blazercitynew-color-animated2.gif?1580704655");
        background-position: 0 100%;
        background-size: cover;
        overflow-x: auto;
    }

}

/* para 480px o menos */
@media screen and (max-width:480px) {
    .HomeBg {
        width: 480px;
        height: 480px;
        background-image: url("https://cdnb.artstation.com/p/assets/images/images/023/898/069/original/aaron-truehitt-blazercitynew-color-animated2.gif?1580704655");
        background-position: 50% 0;
        background-size: cover;
        overflow-x: auto;
    }
    .SearchBarMiddle{
        display: none;
    }
}