.--newHeader-main{
    position: fixed;
    top:0;
    left:0;
    display: flex;
    width: 100%;
    flex-direction: row;
    min-height: 97px;
    background: linear-gradient(#5c045f8a, #03030300);
    z-index: 99;
    justify-content: center;
    border-bottom-left-radius: 15px ;
    border-bottom-right-radius: 15px ;

}
.--header-cart-item-length20{
    background-color: #3e0441c5;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 100%;
    font-size: 1.4rem;
    font-family: 'Oxanium', cursive;
    float: right;
}
.--cart-icon20{
    font-size: 2.5rem;
    color: antiquewhite;
    float: right;
}
.--cart-icon20:hover{
    font-size: 2.6rem;
    color: antiquewhite;
}
.--newHeader-main-row{
    width: 100%;
}
.--newHeader-main-row-col-logo1{
    display: flex;
    width: 35%;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    order: -1
}
.--newHeader-main-row-col-logo1 img{
    width: 85%;
    margin-left: 50%;
    transform: translateX(-50%);
    height: 70px;
  }
  .--newHeader-main-row-col-logo1 img:hover{
    width: 86%;
  }
  .--newHeader-main-row-col-logo1 ul{
    display: flex;
   text-align: center;
}
.--newHeader-main-row-col-logo1 li{
    font-size: 1.4rem;
    list-style: none;
    
}
.--newHeader-main-row-col-menu44{
    display: flex;
    width: 40%;
    align-self:center;
    justify-content: center;
}

.--newHeader-main-row-col-menu33{
    width: 8%;
    align-self:center;
    display: flex;
    justify-content: center;
}
.--newHeader-main-row-col-menu5{
    width: 23%;
    align-self:center;
    order: -1
}
.--newHeader-main-row-col-menu5 h2{
    color:antiquewhite;
    font-family: 'Oxanium', cursive;
    font-size: 1.4rem;
    font-weight: none;
    margin-left: 20px;
}

.--newHeader-main-row-col-user20{
    width: 25%;  
    align-self: center;
}
.--newHeader-main-row-col-user-icon20{
    display: flex;
    width: 3%;
    align-self: center;
    justify-content: center;
}
.--user-icon20{
    font-size: 2.6rem;
    width: 100%;
    color: antiquewhite;
    cursor: pointer;
}
.link-email{
    text-decoration: none;
    color: antiquewhite;
}
.link-licopy{
    font-family: 'Oxanium', cursive;
    color: antiquewhite;
    text-decoration: none;
}
.link-licopy:hover{
    font-size: 1.45rem;
}
.--newHeader-main-row-col-user-options{
    float: right;
    width: 100%;
}
.--newHeader-main-row-col-user-options p {

    font-size: 1.4em;
    font-family: 'Oxanium', cursive;

}
.--newHeader-main-row-col-user-options p:hover {
    font-size: 1.45rem;
}
.--newHeader-main-row-col-menu-form-div{
    display: flex;
    width: 100%;
}

.--newHeader-main-row-col-menu-form-div input{
    background-color: rgba(0,0,0,0.840);
    border-radius: 20px;
    height: 40px;
    width:100%;
    border: none;    
    text-align:center;
    font-family: 'Oxanium', cursive;
    font-size: 2em;
    outline: none;
    color: #ba0bc0;
    box-shadow: 0px 0px 10px rgb(148, 4, 153);
    float: right;
}
.--newHeader-main-row-col-menu-form-div input::placeholder{
    color: #ba0bc0;
    font-family: 'Oxanium', cursive;
    font: 2rem;
}
.--newHeader-main-row-col-menu-form-div-img{
    position: relative;
    width: 25px;
    height: 25px;
    top: 8px;
    left: -40px;
    cursor: pointer;
}
.--newHeader-main-row-col-menu-link2{
     text-decoration: none;
     color:antiquewhite
}

@media(max-width:800px){
    .--newHeader-main{
        position: sticky;
        top:0;
        left:0;
        display: flex;
        width: 100%;
        flex-direction: column;
        min-height: 97px;
        background: linear-gradient(#5c045fa6, #030303a2);
        z-index: 99;
        justify-content: center;
        border-bottom-left-radius: 15px ;
        border-bottom-right-radius: 15px ;
    }
    .--newHeader-main-row{
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .--newHeader-main-row-col-logo{
        display: flex;
        margin-top: 10px;
        width: 100%;

        justify-content: center;
        align-items: center;
    }
    .--newHeader-main-row-col-user{
        display: flex;
        width: 95%;
  
        justify-content: flex-end;
        align-content: flex-end;
        align-items: center;
        padding: 15px;
    }
}
