.NavBar {
    background-color: transparent;
    height: 98px;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 1920px;
    border: none;
}
.SearchBar{
    height: 50px;
    left: 206px;
    position: absolute;
    top: calc(50.00% - 25px);
    width: 719px;
    border: none;
    
}

.SearchBar input {
    width: 100%;
    background-color: rgba(0,0,0,0.651);
    border-radius: 25px;
    color: white;
    font-size: xx-large;
    font-family: Gabriola;
    text-align:center;
    border: none;
}

input:focus, input.form-control:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
#SearchImg {
    width: 40px;
    position: absolute;
    height: 30px;
    top: 10px;
    left: 10px;
    justify-content: center;
    cursor: pointer;
}
#SearchImg img{
    width: 100%;  
}

#logo {
    width: 100px;
    height: 54px;
    position: absolute;
    top: 15px;
    left: 0;
    cursor: pointer;
}
#logo img {
    width: 100%;
}

.navbar-zCOIAP {
    background-color: none;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    border: none;

}

.navOptions{
    background-color: transparent;
    height: 50px;
    line-height: 28px;
    pointer-events: auto;
    position: absolute;
    top: calc(50.00% - 25px);
    right: 260px;
    width: 500px;
    float: left;
    text-align:right;

}
.navOptions ul {
    width: 100%;
}
.navOptions ul li{
    width: 33%;
    display:inline-block;
    list-style-type: none;
    text-align: left;
    font-family: Gabriola;
    font-size: xx-large;
    color: white;   
}

#option1:hover, #option2:hover, #option3:hover {
    color: lightsteelblue;
}

/* para 980px o menos */
@media screen and (max-width:980px) {

}

/* para 700px o menos */
@media screen and (max-width:700px) {


}

/* para 480px o menos */
@media screen and (max-width:480px) {
    .NavBar {
        height: 120px;
        width: 480px;
    }
    .SearchBar{
        height: 70px;
        width: 260px;
        left: 110px;       
    }
    #logo {
        width: 80px;
        top: calc(50.00% - 25px);
        left: 10px;
        cursor: pointer;
    }
    .navOptions{
        background-image: url("https://www.flaticon.es/svg/vstatic/svg/1636/1636053.svg?token=exp=1615656958~hmac=e82cbeacc0430a39c785cb0d424f0d2f");
        background-size: 70%;
        background-repeat: no-repeat;
        background-position-x: center;
        height: 56px;
        right: 10px;
        width: 80px;
        float: none;   
    }
    .navOptions ul{
        position: relative;
        margin: 0 0;
        padding: 0 0 0 0;   
        height: 100px;
        top: 80px; 
        display: none;
    }
    .navOptions ul li{
        width: 100%;
        text-align: center;
        font-family: Gabriola;
        font-size: xx-large;
        color: white;
        padding-bottom:20px;
        
    }
    .navOptions:hover .navOptions ul {
        display: block;   
    }
}
