.--newHeader-main{
    position: fixed;
    top:0;
    left:0;
    display: flex;
    width: 100%;
    flex-direction: row;
    min-height: 97px;
    background: linear-gradient(#5c045f8a, #03030300);
    z-index: 99;
    justify-content: center;
    border-bottom-left-radius: 15px ;
    border-bottom-right-radius: 15px ;

}
.--newHeader-main-row{
    display: flex;
    width: 100%;
    flex-direction: row;
}
.--newHeader-main-row-col-logo{
    display: flex;
    width: 33%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.--newHeader-main-row-col-logo img{
  width: 100%;
  height: 75px;
}
.--newHeader-main-row-col-logo img:hover{
    width: 101%;
  }
.--newHeader-main-row-col-menu2{
    width: 16.5%;
    order: -1;
    align-self:center;
}
.--cart-icon{
    margin-left: 30px;
    font-size: 2rem;
    color: antiquewhite;
}
.--cart-icon:hover{
    font-size: 2.1rem;
}

.--newHeader-main-row-col-menu{
    width: 16.5%;
    align-self:center;
}
.--header-cart-item-length{
    position: relative;
    bottom: 5px;
    font-size: 1.5rem;
}

.--newHeader-main-row-col-menu ul{
    float: left;
}

.--newHeader-main-row-col-menu li{
    margin-left: 2px;
    margin-left: 2px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 1.4rem;
    position: relative;
    left: -1em;
    list-style: none;
    
}
.link-li{
    color: antiquewhite;
    text-decoration: none;
    font-family: 'Oxanium', cursive;
}
.link-li2{
    color: antiquewhite;
    text-decoration: none;
    font-family: 'Oxanium', cursive;
}
.link-li:hover{
    font-size: 1.5rem;
}

.--newHeader-main-row-col-user{
    width: 28%;  
    align-self: center;
}
.--newHeader-main-row-col-user-icon{
    display: flex;
    width: 6%;
    align-self: center;
    justify-content: center;
}
.--user-icon{
    font-size: 2rem;
    color: antiquewhite;
    cursor: pointer;

}
.--user-icon:hover{
    font-size: 2.1rem;
    color: antiquewhite;

}
.link-email{
    text-decoration: none;
    color: antiquewhite;

}
.--newHeader-main-row-col-user-options ul{
    display: flex;
    float: right;
}
.--newHeader-main-row-col-user-options li{
    margin-left: 2px;
    margin-left: 2px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 1.4rem;
    list-style: none;
}
.--newHeader-main-row-col-user-options{
    float: right;
}
.--newHeader-main-row-col-user-options p {

    font-size: 1.0em;
    font-family: 'Oxanium', cursive;
}
.--newHeader-main-row-col-user-options p:hover {
    font-size: 1.45rem;
}

.--newHeader-main-row-col-menu-form-div input{
    background-color: rgba(0,0,0,0.840);
    border-radius: 20px;
    height: 40px;
    width:100%;
    border: none;    
    text-align:center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    outline: none;
    color: #ba0bc0;
    box-shadow: 0px 0px 10px rgb(148, 4, 153);
}
.--newHeader-main-row-col-menu-form-div input::placeholder{
    color: #ba0bc0;
}
.--newHeader-main-row-col-menu-form-div-img{
    position: relative;
    width: 25px;
    height: 25px;
    top: 8px;
    left: -40px;
    cursor: pointer;
}
.--newHeader-main-row-col-menu-link{
    text-decoration: none;
    color: white;
}
@media(max-width:800px){
    .--newHeader-main{
        position: sticky;
        top:0;
        left:0;
        display: flex;
        width: 100%;
        flex-direction: column;
        min-height: 97px;
        background: linear-gradient(#5c045fa6, #030303a2);
        z-index: 99;
        justify-content: center;
        border-bottom-left-radius: 15px ;
        border-bottom-right-radius: 15px ;
    }
    .--newHeader-main-row{
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .--newHeader-main-row-col-logo{
        display: flex;
        margin-top: 10px;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .--newHeader-main-row-col-user{
        display: flex;
        width: 95%;
        flex-direction: row;
        justify-content: flex-end;
        align-content: flex-end;
        align-items: center;
        padding: 15px;
    }
}

.btn-en{
    width: 50px;
    min-height: 30px;
    height: auto;
    outline: none;
    background-image: url("../../assets/images/langs/en.png");
    background-position: top left;
    background-size: 100%;
    cursor: pointer;
}
.btn-es{
    width: 50px;
    min-height: 30px;
    height: auto;
    outline: none;
    background-image: url("../../assets/images/langs/es.png");
    background-position: top left;
    background-size: 100%;
    cursor: pointer;
}