:root{
    --CommentCard-contentDiv-commentInfo-span: #9f9f9f;
    --CommentCard-contentDiv-comment-span: #fff;
}

.--CommentCard{
    display: flex;
    flex-direction: row;
}
.--CommentCard-imageDiv{
    padding-left: 10px;
    align-self: center;
}
.--CommentCard-contentDiv{
    margin-left: 20px;
    margin-right: 10px;
}
.--CommentCard-contentDiv-commentInfo{

}
.--CommentCard-contentDiv-commentInfo span{
    font-size:1.7rem;
    color: var(--CommentCard-contentDiv-commentInfo-span);
}
.--CommentCard-contentDiv-comment{

}
.--CommentCard-contentDiv-comment span{
    font-size:1.7rem;
    line-height: 2px;
    color: var(--CommentCard-contentDiv-comment-span);
}