.--newHeader-main{
    position: sticky;
    top:0;
    left:0;
    display: flex;
    width: 100%;
    flex-direction: row;
    min-height: 97px;
    background: linear-gradient(#5c045f8a, #0303037e);
    z-index: 99;
    justify-content: center;
    border-bottom-left-radius: 15px ;
    border-bottom-right-radius: 15px ;

}
.--newHeader-main-row{
    display: flex;
    width: 100%;
    flex-direction: row;
}
.--newHeader-main-row-col-logo{
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.--newHeader-main-row-col-logo img{
  width: 220px;
  height: 75px;
}
.--newHeader-main-row-col-menu{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.--newHeader-main-row-col-menu-ul{
    padding: 0px;
    margin-left: 0px;
   
}
.--newHeader-main-row-col-menu li{
    display: inline-block;

}
.--newHeader-main-row-col-menu-link{
    padding: 8px;
    background-color: rgba(137, 43, 226, 0.575);
    margin: 2px;
    color: antiquewhite;
    font-size: 1.5rem;
    border-radius: 5px;
    text-decoration: none;
}
.--newHeader-main-row-col-menu-link:hover{
    padding: 10px;
    background-color: rgb(137, 43, 226);
    margin: 2px;
    color: antiquewhite;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.--newHeader-main-row-col-user{
    display: flex;
    width: 300px;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.--user-icon{
    font-size: 4rem;
    color: antiquewhite;
}
.--newHeader-main-row-col-user-options p {
    color: antiquewhite;
    font-size: 1rem;
}

@media(max-width:800px){
    .--newHeader-main{
        position: sticky;
        top:0;
        left:0;
        display: flex;
        width: 100%;
        flex-direction: column;
        min-height: 97px;
        background: linear-gradient(#5c045fa6, #030303a2);
        z-index: 99;
        justify-content: center;
        border-bottom-left-radius: 15px ;
        border-bottom-right-radius: 15px ;
    }
    .--newHeader-main-row{
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .--newHeader-main-row-col-logo{
        display: flex;
        margin-top: 10px;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .--newHeader-main-row-col-user{
        display: flex;
        width: 95%;
        flex-direction: row;
        justify-content: flex-end;
        align-content: flex-end;
        align-items: center;
        padding: 15px;
    }
}