.--ads-banner-main{
    display: flex;
    width: 95%;
    min-height: 350px;
    background-color: rgb(43, 42, 42);
    margin: auto;
    border-radius: 10px;
}
.--ads-banner-main h1{
    color: aliceblue;
}