.catalog--main{
    display:flex;
    width: 95%;
    padding-left: 50px;
    padding-right: 50px;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
    margin-top: 97px;
    margin-bottom: 150px;
}
.catalog--main button{
     outline: none;
  background: linear-gradient(225deg, rgb(234, 50, 111), rgb(79, 0, 170));
  color: white;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 60%;

}
.catalog--main button:hover{
    background: black;
}
.catalog--main-row{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.catalog--main-col-menu{

    display: flex;
    width: 250px;
    align-items: flex-start;
}
.catalog--main-col{
    display: flex;
    width: 100%;
    justify-content: left;
    flex-wrap: wrap;
    padding-left: 15px;
}
.catalog--main-col-menu-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: antiquewhite;
    width: 100%;
    background-color: rgba(114, 114, 114, 0.568);
    border-radius: 10px;
    background-color: rgb(22, 22, 22);
    border: 2px solid rgb(234, 50, 111);
    border-radius: 15px;
    text-align: center;
    font-family: 'Oxanium', cursive;

}
@media(max-width:1000px){
    .catalog--main-row{
        display: flex;
        width: 100%;
    }
    .catalog--main-col-menu{
        display: flex;
        width: 98%;
    }
    .catalog--main-col-menu-box{
        display: flex;
        justify-content: center;
        margin: 2px;
        min-height: 50px;
        width: 100%;
        background-color: rgba(85, 6, 95, 0);
        color: antiquewhite;
        border-radius: 10px;

    }
}